<%= javascript_pack_tag 'question' %>
<p><%= link_to 'Main Menu', wordbooks_path %></p>
<div id="result"></div>
<h1>単語帳</h1>
<p>50問中：第<span id="span1"></span>問</p>
<h3>問題</h3>
<div>
  <p id="one_question"></p>
  【類似単語】
  <div id="similar_word"></div>
</div>
<h3>回答</h3>
<div>
  <form id="description_id"></form>
</div>
<div>
  <button type="button" id="button">button</button>
<div>